<section class="carousel">
  <h2 class="titulo-viagens">
    Alguns dos cantinhos que já visitei
  </h2>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/castelo-sao-jorge.jpeg" />
      </div>
      <div class="carousel-caption">
        <h3>Castelo São Jorge</h3>
        <p>Um lugar incrível na cidade de Lisboa, vale a pena a visita.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/madri-granvia.jpeg" />
      </div>
      <div class="carousel-caption">
        <h3>Gran Via - Madrid</h3>
        <p>A cidade que ganhou meu coração.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/palacio-de-cristal.jpeg" />
      </div>
      <div class="carousel-caption">
        <h3>Palacio de Cristal</h3>
        <p>Um dos pontos turísticos do Porto.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/parque-madrid.jpeg" />
      </div>
      <div class="carousel-caption">
        <h3>Parque Madrid</h3>
        <p>O pulmão verde da cidade.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/braga0.jpeg" />
      </div>
      <div class="carousel-caption">
        <h3>Braga</h3>
        <p>A cidadizinha charmosa do interior.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
