<nav>
  <a routerLink="/principal">
    <h1 class="titulo">WILKA GALLI</h1>
  </a>

  <ul>
    <li>
      <img class="miniatura-lista" src="assets/img/cooking.png" />
      <a routerLink="/receitas" routerLinkActive="active-link"> Receitas</a>
    </li>
    <li>
      <img class="miniatura-lista" src="assets/img/aircraft.png" />
      <a routerLink="/viagens" routerLinkActive="active-link"> Viagens</a>
    </li>
    <li>
      <img class="miniatura-lista" src="assets/img/camera.png" />
      <a routerLink="/curso" routerLinkActive="active-link"> Presets</a>
    </li>
    <li>
      <img class="miniatura-lista" src="assets/img/teacher.png" />
      <a routerLink="/sobre" routerLinkActive="active-link"> Sobre</a>
    </li>
  </ul>
</nav>
