<app-header></app-header>
<header>
  <h1 class="titulo">
    <img src="../../../assets/img/wilka galli (8).png" />
  </h1>

  <div class="caixa">
    <img class="img-principal" src="../../../assets/img/IMG_9139.jpg" />
    <img class="img-principal img-1" src="../../../assets/img/IMG_2497.jpg" />
    <img class="img-principal" src="../../../assets/img/IMG_9507.jpg" />
  </div>
</header>

<main>
  <!-- <ap-resumo-receita [resumo]="resumos[0]"></ap-resumo-receita> -->

  <section class="apresentacao">
    <img class="foto-apresentacao" src="assets/img/wilka.jpeg" />
    <h2>Wilka Galli</h2>
    <h3>
      <p>
        Amo fotografar, cozinhar, viajar, colecionar e acumular, mas
        principalmente amo amar! Meu maior sonho se realiza todos os dias. Vivo
        uma vida que não é perfeita, mas é exatamente como eu quero. Vivo o
        hoje, o agora, com os pés nas minhas raízes e o pensamento no que está
        por vir. Quer saber mais sobre mim?
      </p>
    </h3>
  </section>
</main>
<div class="containerCarousel">
  <app-carousel></app-carousel>
</div>

<div class="videoContainer">
  <div class="video">
    <h2 class="titulo-videos">
      Confira alguns vídeos disponíveis no meu canal do YouTube
      <img class="figura-youtube" src="assets/img/youtube.png" />
    </h2>

    <div>
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/afI99ahhsaw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<footer></footer>
