body {
  background-color: #fff9d8;
  font-family: "Open Sans Condensed", sans-serif;
}

.caixa {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.row {
  display: flex;
}

.thumbnail {
  height: 100%;
}

ul {
  margin-right: 35px;
}

.imagem-principal {
  width: 1425px;
  height: auto;
  margin: 0 35px;
  box-shadow: 15px 15px 15px 0 #ffffff;
}

.apresentacao {
  font-family: "Cedarville Cursive", cursive;

  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 150px 200px;
  background-color: #fff8dc;
}

.apresentacao p {
  font-size: 20px;
}

.foto-apresentacao {
  width: 200px;
  float: top;
  margin: 0 15px 15px 0;
  border-radius: 100%;
}

.video {
  width: 560px;
  margin: auto;
}

.videoContainer {
  width: 100%;
  background-color: #fff9d8;
  padding: 25px 0;
}

.containerCarousel {
  background-color: #fff9d8;
  padding: 25px 0;
}

.figura-youtube {
  width: 40px;
  vertical-align: middle;
}

.titulo-videos {
  background: #ffcdbd;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  margin-bottom: 0;

  font-size: 24px;
  text-align: center;
}

.caixa {
  position: relative;

  margin: auto;
  padding: 10px 100px;
  text-align: center;
}

.titulo {
  text-align: center;
}
.img-principal {
  width: 400px;
  border-radius: 10px;
  border-color: rgb(238, 176, 184);
  box-shadow: 2px 2px 2px 1px rgb(180, 175, 175);
}

.img-1 {
  margin: 0 10px 0 10px;
}
